
input[type="text"], textarea, select{
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 12px;
    color: #374151;
}
fieldset{
    border: 1px solid #d1d5db;
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 16px;
    padding: 12px;
}


fieldset legend{
    font-size: 14px;
    color: #374151;
}

input[type="checkbox"]{
    display: inline-block;
}

input[type="checkbox"] ~ label, input[type="radio"] ~ label {
    display: inline;
}

section{
    margin-bottom: 16px;
}

section header{
    margin-bottom: 8px;
}

.row {
    gap: 16px;
}
.content{
    background-color: #983838;
    display: flex;
    flex-wrap: wrap;
    align-items: first;
}
.pizzalogo{
    position: absolute;
    left: 20px;
    top: 183px;
}
.the_form{
    position: relative;
    left: 500px;
}
.PIZZA{
    color: #ffffff;
    position: absolute;
    left: 135px;
    top: 90px;
}
.WELCOME{
    color: #ffffff;
    position: absolute;
    left: 147px;
    top: 120px;
}